<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kitabot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="http://mercysmart.github.io/cepatsembuh-web/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="http://mercysmart.github.io/cepatsembuh-web/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <style media="screen">
      .form-control {
        width: 250px;
      }
    </style>
    <div class="container" align="center">
      <div class="jumbotron" align="center">
        <h1>Kitabot</h1>
      </div>
      <form action="/apps" method="post" onsubmit="validateInput()">
          <input type="text" class="form-control" placeholder="Pertanyaan"><br>
          <input type="submit" class="btn btn-info">
      </form>
    </div>
    <!-- /.container -->

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="http://mercysmart.github.io/cepatsembuh-web/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://mercysmart.github.io/cepatsembuh-web/js/flat-ui.js"></script>
    <!-- Costum JS -->
    <script type="text/javascript">
    function validateInput() {
      var input = $('.form-control').val();
      if (input == '') {
        alert('Jangan galau bro.. ayo ditulis pertanyaannya :v')
      } else {
        return true;
      }
    }
    </script>
  </body>
</html>
