<!DOCTYPE html>
<html>
<head>  
  <title>Ulan</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.teal-blue.min.css" />
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <style>
    .demo-card-wide.mdl-card {
        width: 512px;  
      }
      .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
        background: teal;
      }
      .demo-card-wide > .mdl-card__menu {
        color: #fff;
      }
  </style>
  <!-- Simple header with fixed tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Ulan</span>
    </div>
    <!-- Tabs -->
    <!-- <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Questions</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab">Ask</a>
    </div> -->
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Ulan</span>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
        <center>
         <br />
		<form action="/apps" method="post">
       <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="input">
        <label class="mdl-textfield__label" for="input">Ask..</label>
       </div>
       <br />
        <button class="mdl-button mdl-js-button mdl-button--accent">
          submit
        </button>     
       </form>
      </center>
      </div>
    </section>
  </main>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/keymaster/1.6.1/keymaster.min.js"></script>
  <script>
    key('/', function(){ window.location.href = 'chat.html' });
  </script>  
  <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
</body>
</html>